<H1>Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>

<p>List popular languages for Data Science</p>
<ul>
<li>R</li>
<li>Python</li>
<li>Java</li>   
<li>Julia</li> 
<li>Scala</li> 
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
  <li>R</li>
  <li>Python</li>
  <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>pandas</li>
  <li>tensorflow</li>
  <li>care</li>
</ol>

<table>
<tr>
<td> <b>Data Science Tools </b></td></tr>
   <tr> <td> Jupyter Notebooks </td></tr>
   <tr> <td> RStudio </td></tr>
   <tr> <td> Hadoop </td></tr>
</tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

x=2+y

In [12]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335



<h2>Author</h2>
</p>Hugo